* {
    box-sizing: border-box !important;
    font-family: 'Montserrat', sans-serif;
}

#bienvenida{
    height: inherit;
    text-align: center;
}

.no-display{
    display: none;
}

.text2{
    padding-top: 30%; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 550%;
    color: white;
}

.btn {
    background-color: #fed136 !important;
    border: none;
    border-radius: 2px;
    padding: 20px 50px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    color: #333333;
}

header .btn{
    margin-bottom: 124px;
    color: white;
}

header {
    background-image: url(../img/portada1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    top: 0px;
}

.text3{
    padding-top: 5%; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 550%;
}

#menu{
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 670px;
    top: 0px;
}

table .btn{
    background-color: #fed136 !important;
    margin: 2px;
    border-radius: 2px !important;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em !important;
    color: #333333;
    width: 200px;
}
table{
    margin-bottom: 30px;
}

.reservado{
    background-color: rgba(54, 124, 254, 0.82) !important;
}